html {
    background-image: url(https://preview.redd.it/x3rdifhzw61a1.jpg?width=5000&format=pjpg&auto=webp&s=90dfdd4e1b614ced91f999bb8d8550981235c2b8);
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    margin-left: 0;
    margin-top: 0;
    margin-right: auto;
}
.bar {
    position: relative;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.logo {
    position: relative;
    height: auto;
    width: 200px;
    padding-left: 10%;
}
.search {
    position: relative;
    height: auto;
    width: 25px;
    padding-right: 10%;
    padding-left: 90%;

}
.glass {
    height: auto;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
}
.lorem {
    width: 650px;
    height: 170px;
    background-color: whitesmoke;
    border: solid 4px whitesmoke;
    box-shadow: 0 0 100px whitesmoke;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 25%;
    margin-top: 200px;
}
.ipsum {
    padding: 30px;
}
.heading {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: x-large;
    font-weight: bold;
}
.text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}